/* hidden attr cannot be overwritten by display change */

[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}

/* default font-size is 1.6rem */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

/* default box-sizing is border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

.page-content {
  margin-inline: 24px;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.word-section {
  height: 50vh;
  display: flex;
  flex-flow: column;
  text-align: center;
  transform: translateY(-4rem);
}

.top-bar {
  margin-block-start: 18px;
  display: flex;
  justify-content: space-between;
}

.health-bar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.health-bar-item {
  font-size: 2.1rem;
  margin-inline-end: 0.05rem;
}

.score {
  text-align: end;
}

.score-heading {
  margin: 0;
  font-size: 1.4rem;
}

.score-number {
  font-size: 2.4rem;
}

.guess-word {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 4rem;
  font-weight: bold;
}

.game-hint {
  margin-block: 0 40px;
  font-size: 1.6rem;
  font-weight: 300;
  margin-inline-start: 4ch;
}

.answers {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'PT Serif', serif;
  font-size: 2.4rem;
  letter-spacing: 0.02ch;
}

.answer-item {
  margin-block-end: 2rem;
}

.answer-link {
  text-decoration: none;
  color: inherit;
}


.intro-text {
  width: 300px;
  height: 50%;
  padding-block-start: 63px;
  display: flex;
  margin: 0 auto;
  flex-flow: column;
  font-family: 'PT Serif', serif;
}

.intro-text *:nth-child(1) {
  font-size: 52px;
}

.intro-text *:nth-child(2) {
  font-size: 24px;
  font-family: Inter, sans-serif;
}

.intro-text *:nth-child(3) {
  font-size: 40px;
  align-self: flex-end;
}

.intro-text *:nth-child(4) {
  font-size: 24px;
  font-family: Inter, sans-serif;
  align-self: flex-end;
}

.intro-text *:nth-child(5) {
  text-transform: uppercase;
  font-size: 36px;
}

.intro-text *:nth-child(5) span {
  font-size: 24px; 
  text-transform: none;
  font-family: Inter, sans-serif;
}

.btn {
  font-family: 'PT Serif', serif;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.btn-body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.btn-btn-left {
  background: black;
  color: white;
  padding-inline: 0.1em;
  padding-block-end: 40px;
}

.upper-half {
  height: 50%;
}

.game-over-heading {
  margin: 0;
  margin-block-start: 60px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.score-summary {
  margin-block-start: 60px;
  text-align: center;
  font-family: 'PT Serif', serif;
}

.score-heading {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0.02em;
}

.score-total {
  font-size: 48px;
  font-weight: 700;
}

.loader-wrap {
  margin: 0 auto;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 400;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid black; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}